.bigBox {
    padding: 2rem;
}
.bigBox > h1 {
    margin-bottom: 2rem;
}
.gridList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem 1.5rem;
}
.card > img {
    width: 20rem;
    border-radius: 10px;
}
@media screen and (max-width: 720px){
    .gridList {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        display: grid;
    }
    .card { 
        width: 90%;
        margin-bottom: 0.5rem;
    }
    .card > img {
        width: 15rem;
    }
    .bigBox > h1 {
        margin-bottom: 0.5rem;
    }
    .bigBox {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        }
}