header {
    position: sticky;
    top: 0;
}
.container > .row:nth-child(2) > .col {
    width: 36.25rem;
}
.container > .row:nth-child(1) > .col {
    width: 36.25rem;
}
.container > .row:nth-child(3) > .col {
    width: 80.5rem;
}
.container > .row:nth-child(3) > .col > .magen > div {
    margin-bottom: 2rem;
}
.magen > .row > .col {
    width: 50%;
}
@media screen and (max-width: 1500px){
    .coverIMG > div > div:nth-child(2) > a > img {
        width: 130px;
    }   
    .coverIMG > div > div:nth-child(2) > a > img:hover {
        width: 150px;
    }   
    .coverIMG > div > div:nth-child(2) { 
        margin: 8rem;
    }
}
nav > h1 {
    margin-bottom: 0.5rem;
}




/* CSS MOBILE */
@media screen and (max-width: 720px) { 
    .row {
        margin-bottom: 3rem;
        gap: 1.5rem;
    }
    .imgHeader {
        display: none;
    }
    .coverIMG > div{ 
        position: inherit;
    }
    .coverIMG > div > div:nth-child(1) {
        gap: 1rem;
    }
    .coverIMG > div > div:nth-child(2) {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 4rem;
        justify-items: center;
    }
    
    .container > .row:nth-child(1) > .col {
        width: 100%;
    }
    .container {
        padding: 1.5rem;
        }
    .container > .row:nth-child(2)> .col > .img{
        max-width:330px;
    }
    .container > .row:nth-child(2) > .col,  .container > .row:nth-child(3) > .col{ 
        width: 100%;
    }
    header {
        position: fixed;
        top: 0;
    }
    .coverIMG {
        padding-top: 4rem;

    }
    .container > .row:nth-child(2) > .col, .container > .row:nth-child(3) > .col > .magen > .row > .col{
        width: 100%;

    }
    footer > .footer {
       text-align: center;
    }
    footer > .footer > div {
        text-align: center;
    }
}




