.container > .row:nth-child(2) > .col {
    width: 36.25rem;
}
.container > .row:nth-child(1) > .col {
    width: 36.25rem;
}
.container > .row:nth-child(3) > .col {
    width: 80.5rem;
}
.container > .row:nth-child(3) > .col > .magen > div {
    margin-bottom: 2rem;
}
.magen > .row > .col {
    width: 50%;
}
@media screen and (max-width: 1500px){
    .coverIMG > div > div:nth-child(2) > a > img {
        width: 130px;
    }   
    .coverIMG > div > div:nth-child(2) > a > img:hover {
        width: 150px;
    }   
}



