:root {
    --bgColor: #191825;
    --titleColor: #F72798;
    --powerLineColor: #c501e2;
    --btnHover: #c501e2;
    --subtitleColor: #FFB5DA;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 1px solid var(--powerLineColor);
    box-shadow: var(--powerLineColor) 0px 5px 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    min-width: 15rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form > input[type=password],  input[type=text],  input[type=email] {
    border: none;
    background-color: #E3E3E3;
    padding: 0.7rem;
    border-radius: 10px;
}
.btn {
    border: none;
    padding: 1rem;
    background-color: var(--btnHover);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    }
.btn:hover {
    background-color: var(--btnHover);
    cursor: pointer;
    box-shadow: var(--powerLineColor) 0px 5px 15px;
}
h1 {
   margin: 1rem;
}
span {
   
    margin: 2rem;
}
span > a {
    text-decoration: none;
    color: var(--subtitleColor);
}
