@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Pacifico&display=swap');
:root {
    --bgColor: #191825;
    --titleColor: #F72798;
    --powerLineColor: #c501e2;
    --btnHover: #c501e2;
    --subtitleColor: #FFB5DA;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}
p {
    font-size: 18px;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 8rem;
    margin-bottom: 5rem;
}
body {
    background-color: var(--bgColor);
}
.imgHeader {
    width: 100%;
    z-index: 1;  
}
b {
    color: var(--subtitleColor);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}
.alert {
    color: #FF2929;
}
.noAlert {
    color: #06D001;
}
.pendingAlert {
    color: #F4CE14;
}
.cursive {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
h1, h2, h3, h4, h5{
    color: var(--titleColor);
}
hr {
    background: var(--btnHover);
}
.header > nav > h1 {
    font-size: 30px;
    margin: 0.8rem;
}
ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.4rem;
}
ul li, .navItemDropDown{
    font-size: 16px;
    padding: 0.4rem;
    list-style: none;
}
.header > nav > ul > li {
    border: 1px solid var(--powerLineColor);
    border-radius: 2px;
}
.header > nav > ul > li > a {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
a{
    color: var(--titleColor );
    text-decoration: none;
}

.header > nav > ul > li:hover, .navItemDropDown:hover{
    box-shadow: var(--powerLineColor) 0px 5px 15px;
}
.titulo{
    text-align: center;
    color: var(--titleColor);
    margin-top: 50px;
}
.container{
   flex-direction: column;
   align-items: center;
   margin-top: 5rem;
}
.magen{
    padding: 20px;
    color:  white;
    border: 2px solid var(--powerLineColor);
    box-shadow: var(--powerLineColor) 0px 5px 15px;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.header {
    position: sticky;
    top: 0;
    background-color: var(--bgColor);
}

.itemLista{
    padding: 0.6rem;
    margin: 0.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;    
}

.titleLista {
    color: var(--titleColor);
    margin: 1rem;
}
span {
    color: var(--subtitleColor);
}
.contLista {
    overflow-y: scroll;
}
.col {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.socialMediaContent {
    display: flex;
}
footer > .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--powerLineColor);
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}
footer > .footer > div {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer > .footer > div > h4 {
    margin-bottom: 2vh;
}
footer > .footer > div > img {
    width: 18rem;
}
.socialMediaContent > img {
    width: 5rem;
}

.card {
    width: 30rem;
    border: 2px solid var(--powerLineColor);
    box-shadow: var(--powerLineColor) 0px 5px 15px;
    border-radius: 10px;
    background-color: #313134;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.titleCard {
    color: var(--titleColor);
}
.btn {
    margin-top: 1rem;
    border: none;
    padding: 1rem;
    background-color: var(--titleColor);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--btnHover);
    cursor: pointer;
    box-shadow: var(--powerLineColor) 0px 5px 15px;
}
.img {
    border-radius: 10px;
}
.dropdown {
    display: none;
}
.dropDownMenu {
    display: none;
    z-index: 100;
    background-color: var(--bgColor);
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    justify-items: center;
    padding: 0.8rem;
}
.navItemDropDown {
    border: 1px solid var(--powerLineColor);
    width: 70%;

}
nav > img {
    width:5rem;
}
@media screen and (max-width: 720px) {
    .container {
        max-width: 720px;
        padding: 0.2rem;
    }
    .row {
        flex-direction: column;
       
    }
    .magen {
        max-width: 720px;
    }
    footer > .footer {
        max-width: 720px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .header > nav > ul > li, .navItem {
        font-size: 12px;
    }
    footer > .footer {
   text-align: center;
    }
    footer > .footer > div {
    text-align: center;
    }
    .dropdown {
        display: block;
    }
    .navItem {
        display: none;
    }

}