.container > .row > .col:nth-child(1) > img {
   width: 40rem; 
}
@media screen and (max-width:720px) {
   .container > .row > .col:nth-child(1) > img {
      width: 100%;
   }
   .container {
      margin-top: 5rem;
   }
}
