.container > .row > .col:nth-child(1) > div:nth-child(1) {
    text-align: center;
}
.container > .row > .col > div {
    margin: 1rem;
}
.container > .row > .col:nth-child(1) > div:nth-child(2) {
    display: flex;
    justify-content: center;
}
.container > .row:nth-child(2) > .col:nth-child(2) > ul {
    width: 100%;
}
.container > .row:nth-child(2) > .col:nth-child(2) > ul > li{
    margin: 0.5rem;
}
.container > .row:nth-child(2) > .col:nth-child(1) > img {
    width: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 720px) {
    .container > .row:nth-child(2) > .col:nth-child(1) > img {
        width: 100%;
    }
}