* {
    margin: none;
    padding: none;
}
h2, ul > li > strong {
    color: #6CB3B8;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.container {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    color: white;
    gap: 2rem;
}
@media screen and (max-width: 1500px) {
    .container {
       margin-left: 0;
       margin-right: 0;
    }
 }
 @media screen and (max-width: 720px) {
    .container {
        display: flex;
        max-width: 720px;
        padding: 0.3rem;
        
    }
    .col > div {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .row {
        display: flex;
        flex-direction: column;

    }
    footer > .footer {
        max-width: 720px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .img {
        width: 100%;
    }
 }