* {
    margin: none;
    padding: none;
}
h2, ul > li > strong {
    color: #6CB3B8;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.container {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    color: white;
    gap: 2rem;
}
@media screen and (width:1368px){
    .container {
        margin: none
    }
}