* {
    margin: none;
    padding: none;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 20rem;
    padding-right: 20rem;
    color: white;
}
.container > div > div:nth-child(3) {
    padding-right: 2vh;
    padding-top: 2vh;
}
.container > .row > .col:nth-child(1) > div {
    width: 38rem;
}
.container > .row > .col:nth-child(1) > div:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container > .row:nth-child(2) > .col:nth-child(1) > div > img {
    width: 60rem;
}
.container > .row:nth-child(2) > .col:nth-child(1) > div {
    width: 100%;
    display: flex;
    align-content: flex-end;
}
@media screen and (max-width:1368px){
    .container {
        padding-left: none;
    }
}